@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700;1,900&display=swap');

/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #DFDFDF;
    --secondaryColor: rgba(35, 55, 127, 0.3);
    --accentColor: #23377F;
    --interactableColor: #E31E24;
    --hoverButtonColor: #ce171d;
    --disableButtonColor: #A57274;
    --backgroundColor: #EEEDE8;
    --baseTextDarkColor: #232323;

    /* TEXT SIZES */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 15px;
    --mediumSpacing: 20px;
    --largeSpacing: 30px;
    --xLargeSpacing: 50px;

    /* DETAILS */
    --borderRadius: 3px;
    --round: 50%;
    --shadow: 3px 3px 8px gray;

}

/* --- GENERALS --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}


main {
    display: grid;
    grid-template-columns: var(--standardSpacing) repeat(4, 1fr) var(--standardSpacing);
    grid-template-rows: auto;
}

body {
    margin: 0;
    background: var(--backgroundColor);
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

section {
    grid-column: 2/-2;
    margin: var(--mediumSpacing) 0;
}

a {

    text-decoration: none;
}

i {
    color: var(--accentColor);
}

.fullWidth {
    grid-column: 1 /-1;
    display: flex;
    flex-direction: column;
}

/* Primary background colour Box */
.leftBackgroundBoxMobile {
    background: var(--primaryColor);
    padding: var(--mediumSpacing) var(--mediumSpacing);
    grid-column: 2/-1;
}

/* Secondary background colour Box */
.rightBackgroundBoxMobile {
    background: var(--secondaryColor);
    padding: var(--mediumSpacing) var(--mediumSpacing);
    grid-column: 1/-2;
}

/* --- BORDER COLOR --- */

.borderWhite {
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            rgb(224, 231, 231),
            rgba(0, 0, 0, 0)) 1;
}

.borderRed {
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            var(--interactableColor),
            rgba(0, 0, 0, 0)) 1;
}

.borderBlue {
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            Blue,
            rgba(0, 0, 0, 0)) 1;
}

.borderYellow {
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            rgb(214, 193, 2),
            rgba(0, 0, 0, 0)) 1;
}

.borderGreen {
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            Green,
            rgba(0, 0, 0, 0)) 1;
}

.borderBrown {
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            rgb(145, 85, 13),
            rgba(0, 0, 0, 0)) 1;
}

.borderBlack {
    border: 3px solid;
    border-image:
        linear-gradient(to bottom,
            black,
            rgba(0, 0, 0, 0)) 1;
}

/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6 {

    grid-column: 2 / -2;
    margin: var(--smallSpacing) 0;
}

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: var(--mediumSpacing) 0;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    color: var(--accentColor);
    font-style: italic;
    margin: 0px;
}

h3 {
    font-size: 1rem;
    margin: 0px;
}

p {
    grid-column: 2/-2;
    margin: 0 0 var(--smallSpacing) 0;

}

p.instructorNavn {
    font-size: 1.3rem;
    font-weight: 700;
    margin: -10px var(--smallSpacing);
}

p.accentTextSmall {
    font-style: italic;
    font-size: 0.9rem;
    margin: 0;
}

.times h3 {
    text-align: center;
}

.times p {
    text-align: center;
}

/* --- BUTTONS --- */
.btn {
    background-color: var(--interactableColor);
    border-radius: var(--borderRadius);
    color: white;
    height: 50px;
    padding: 0 var(--largeSpacing);
    grid-column: 2/-2;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: var(--largeSpacing) 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);

}

.btn:hover {
    /* flyttes til media querry*/
    background: var(--hoverButtonColor);
    font-size: 1.3rem;
}

.userBtn {
    font-size: 30px;
}

.menuBtn {
    font-size: 30px;
}


button {
    border: none;
    background: none;
    font-size: 40px;
    color: var(--interactableColor);
    filter: drop-shadow(3px 3px 2px gray);
    cursor: pointer;
}

button:disabled {
    color: var(--disableButtonColor);
}

/* --- IMAGES --- */
.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--borderRadius);
}

.imgContainer {
    grid-column: 1 / -1;
    /* height: 200px;  */
}


/* --- LINKS --- */
a.disabled {
    background: var(--disableButtonColor);
}

a .logo {
    width: 50px;
    height: 50px;

}

a.text {
    color: var(--interactableColor);
    text-decoration: underline;
}

a:hover.text {
    /* flyttes til media querry*/
    background: var(--interactableColor);
    color: white;
    padding: 5px;
    border-radius: var(--borderRadius);
}

a[href^="tel:"] {
    color: var(--baseTextDarkColor);
}

a[href^="mailto:"] {
    color: var(--baseTextDarkColor);
}

/* --- NAVBAR --- */
nav {
    box-shadow: 0 3px 10px rgb(138, 137, 137);
    height: 10vh;
    padding: var(--standardSpacing);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --- HERO --- */
.hero .imgContainer {
    height: 40vh;
}

.heroText {
    background: rgba(0, 0, 0, 0.493);
    padding: var(--mediumSpacing);
    color: white;
    position: absolute;
    top: 14.5vh;
    width: 100%;
}

.heroText h1 {
    margin: 0;
    margin-bottom: var(--mediumSpacing);
}

.heroText h3 {
    text-align: center;
}

/* --- FOOTER --- */
footer {
    box-shadow: 3px 0px 10px rgb(138, 137, 137);
    padding: var(--standardSpacing);
    display: flex;
    flex-direction: column;
}

footer img {
    width: 100%;
    margin: var(--standardSpacing) 0;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    gap: var(--mediumSpacing);
}

.footerContainer .sitemap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sitemap a {
    color: var(--baseTextDarkColor);
    text-transform: uppercase;
}

footer i {
    font-size: 30px;
}

footer .contact p {
    margin: 0;
}

footer .contact .item {
    display: flex;
    align-items: center;
    gap: var(--smallSpacing);
    margin-bottom: var(--smallSpacing);
}

.soMe {
    display: flex;
    justify-content: center;
    gap: var(--largeSpacing);

}

.copyright {
    text-align: center;
}

/* --- FOCUS ENTRY POINTS --- */
.focusEntrypoint {
    grid-column: 2/-2;
    height: 150px;
    margin: var(--smallSpacing) 0;

}

.focusEntrypoint .imgContainer {
    height: 120px;
}

.focusEntrypoint img {
    box-shadow: var(--shadow);
}

/* --- NEWS --- */
.newsMobile {
    background: white;
    border: 2px solid var(--primaryColor);
}

.newsMobile img {
    height: 150px;
}

.newsMobile .item {
    border: 2px solid var(--primaryColor);
    padding: 10px;
}

.newsMobile .headline {
    display: flex;
    justify-content: space-between;
}

.newsMobile .btn {
    margin: 0;
    height: 90px;
    border-radius: 0;
}

.newsDesktop {
    display: none;
}

/* --- KARATE CITATER --- */
.karatecitater h2 {
    text-align: center;
    font-weight: 400;
}

/* --- INSTRUCTOR --- */
.instructor {
    grid-column: 2/-2;
    border-radius: var(--borderRadius);
    box-shadow: 5px 5px 8px lightgray;
    background: white;
    margin: var(--smallSpacing);
}

.instructorContainer {
    padding: var(--standardSpacing);

}

.instructor img {
    border-radius: var(--round);
    width: 110px;
    height: 110px;
    object-fit: cover;
}

.instructorIntro {
    display: flex;
    justify-content: center;
}

.instructorFormalities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instructor .belt {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    gap: var(--standardSpacing);
    padding: 0 var(--smallSpacing);
}

.instructor .stripe {
    height: 100%;
    width: 20px;

}

.instructor .black {
    background: black;
}

.instructor .brown {
    background: rgb(75, 53, 27);
}

.instructor .orange {
    background: orange;
}

/* --- IMG WITH TEXT --- */
.imgTextBox {
    grid-column: 2/-2;
    border-radius: var(--borderRadius);
    box-shadow: 5px 5px 8px lightgray;
    background: white;
    margin: var(--mediumSpacing) 0;
    padding: var(--standardSpacing);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imgTextBox img {
    border-radius: var(--round);
    width: 150px;
    height: 150px;
    object-fit: cover;

}

.imgTextBox h3 {

    margin: var(--smallSpacing) 0 0 0;
}

.imgTextBox p {
    margin: 0;
}


.bestyrelse {
    display: flex;

    gap: var(--smallSpacing);
}

.bestyrelse h3 {
    margin: var(--smallSpacing) 0 -7px 0;
}

.bestyrelse .imgTextBox {
    width: 50%;

}

.bestyrelse .imgTextBox img {
    width: 110px;
    height: 110px;
}

.rolleText {
    font-style: italic;
    margin: 0;
}

/* --- COLORED BOX --- */
.coloredBox {
    grid-column: 2/-2;

}

.coloredBox .heading {
    display: flex;
    align-items: center;
    gap: var(--smallSpacing);
}

.coloredBox i {
    font-size: 60px;
}

.number {
    font-size: 40px;
    color: var(--accentColor);
}

.coloredBox h2 {
    width: 100%;
    text-align: center;
}

.coloredBox .background {
    background: var(--primaryColor);
    padding: var(--mediumSpacing) var(--standardSpacing);
}

.coloredBox .background h2 {
    text-align: left;
}

/* --- BORDERED BOX --- */
.borderBox {
    background: white;
    border: 2px solid var(--accentColor);
    border-radius: var(--borderRadius);
    padding: var(--mediumSpacing);
    text-align: center;
    margin: var(--smallSpacing) 0;
}

.borderBox h3 {
    margin-top: var(--smallSpacing);
}

@media screen and (min-width: 900px) {

    main {
        grid-template-columns: repeat(12, 1fr);
        text-wrap: wrap;
        column-gap: 35px;
    }

    section {
        display: flex;
        column-gap: 35px;
    }

    .leftBackgroundBoxMobile {
        background: none;
        padding: 0;
        grid-column: unset;
    }

    .rightBackgroundBoxMobile {
        background: none;
        padding: 0;
        grid-column: unset;
    }

    .leftBackgroundBoxDesktop {
        background: var(--primaryColor);
        padding: var(--xLargeSpacing) var(--xLargeSpacing);
        grid-column: 2/-1;
    }

    .rightBackgroundBoxDesktop {
        background: var(--secondaryColor);
        padding: var(--xLargeSpacing) var(--xLargeSpacing);
        grid-column: -1/2;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;

    }

    h3 {
        font-size: 1.7rem;
        font-weight: 400;

    }

    .focusEntrypoint {
        width: 100%;
        height: 200px;
    }

    .focusEntrypoint .imgContainer {
        height: 170px;
    }

    .borderBox {
        width: 100%;
        display: grid;
        align-content: space-between;
    }

    .textDesktop {
        width: 100%;
    }

    .btn {
        width: 300px;
        margin: var(--mediumSpacing) auto;
    }

    .gridLineup {
        flex-direction: column;
    }

    .gridLineup > div {
        display: grid;
        gap: 35px;
        grid-template-columns: repeat(4, 1fr);
    }

    .gridLineup > p {
        width: 50%
    }

    .imgTextBox {
        grid-column: unset;
    }

    .karatecitater h2 {
        font-size: 2rem;
    }

    .giInfo .imgContainer {
        height: 400px;
        margin-bottom: var(--xLargeSpacing);
    }

    .coloredBox {
        grid-column: unset;
    }

    .newsMobile {
        display: none;
    }

    .newsDesktop {
        display: flex;
        width: 60%;
    }

    .newsContainer {
        display: flex;
        border: solid 2px black;
        width: 100%;
    }

    .mainNews {
        display: flex;
        flex-direction: column;
        width: 50%;
        border-right: 2px solid black;
    }

    .textRight {
        text-align: right;
        justify-content: flex-end;
    }

    .newsContainer p,
    .newsContainer h3,
    .newsContainer a {
        margin: 0 var(--standardSpacing);
    }
    
    .otherNews .btn {
        margin: 0;
        height: 20%;
        width: 100%;
        border-radius: 0;

    }

    .otherNews .item {
        border-bottom: 2px solid black;
        height: 40%;
    }

    .omAshihara .imgContainer {
        height: 500px;
        width: 30%;
    }

    .omAshihara .textDesktop {
        width: 70%;
    }

}